<md-card-content>
  <form novalidate (ngSubmit)="sendPasswordResetEmail()" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
      <md-form-field fxFlex>
        <input type="email" mdInput [formControl]="email" placeholder="Email">
        <md-error>Email is required and must be valid.</md-error>
      </md-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutGap="20px">
      <button md-raised-button color="primary" type="submit" fxFlex>Send Password Reset Link</button>
    </div>
  </form>
</md-card-content>
